@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@400;600;700&display=swap');
@import './reset';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #3E4056;
  background-color: #F2F2F2;
}

.app-container {
  padding-top: 185px;
  padding-bottom: 50px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1170px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

a, button {
  font-family: 'Open Sans', sans-serif;
  transition: .2s;
}

.btn {
  padding: 10px 15px;
  min-width: 135px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  background: linear-gradient(135deg, #FF974F 0%, #E32C75 100%);
  border-radius: 5px;
  transition: .1s;

  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 575px) {
  .app-container {
    padding-top: 120px;
  }
}